{% extends 'base.html' %}
{% block head %}
    <title>加入我们</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='joinus/joinus.css') }}"/>
    <script type="module" src="{{ url_for('static', filename='joinus/joinus.js') }}"></script>
{% endblock %}

{% block body %}
<!-- MultiStep Form -->
<div class="container-fluid" id="grad1">
    <div class="row justify-content-center">
        <div class="col-11 col-sm-9 col-md-7 col-lg-6 text-center  p-0 mt-3 mb-2">
            <div class="card mb-3 px-0 pt-4 pb-3 mt-3">
                <h2><strong>加入我们</strong></h2>
                <p>填写所有信息后进入下一步</p>
                <div class="row justify-content-center">
                    <div class="col-md-10 ">
                        <form id="msform">
                            <!-- progressbar -->
                            <ul id="progressbar" class="row justify-content-center">
                                <li class="active" id="account"><strong>账户</strong></li>
                                <li id="personal"><strong>餐厅</strong></li>
                                <li id="confirm"><strong>完成</strong></li>
                            </ul>
                            <!-- fieldsets -->
                            <fieldset class="text-start">
                                <h2 class="fs-title">账户信息</h2>
                                <div class="mb-3" id="email-block">
                                    <label for="email" class="form-label">电子邮箱</label>
                                    <span class="d-inline-block" tabindex="0" data-bs-toggle="popover" data-bs-trigger="hover focus" data-bs-content="我们通过邮箱与您取得联系，并验证您的身份。">
                                        <i style="font-size:18px;color:rgb(144, 144, 144); margin-left:5px" class="fa">&#xf059;</i>
                                    </span>
                                    <input type="email" class="form-control" id="email" aria-describedby="emailHelp">
                                    <div class='invalid-feedback' id="email-alert" style ='display:None'>请提供有效邮箱！</div>
                                    <div id="emailHelp" class="form-text">我们不会将您的信息做任何其他用途。</div>
                                </div>
                                <div class="mb-3">
                                    <label for="password" class="form-label">密码</label>
                                    <span class="d-inline-block" tabindex="0" data-bs-toggle="popover" data-bs-trigger="hover focus" data-bs-content="该密码用于餐厅登录。">
                                        <i style="font-size:18px;color:rgb(144, 144, 144); margin-left:5px" class="fa">&#xf059;</i>
                                    </span>
                                    <input type="password" class="form-control" id="password">
                                    <div class='invalid-feedback' id="password-alert" style ='display:None'>密码不能为空！</div>
                                </div>
                                <div class="mb-3">
                                    <label for="verify" class="form-label">重新输入密码</label>
                                    <input type="password" class="form-control" id="verify">
                                    <div class='invalid-feedback' id="verify-alert" style ='display:None'>密码两次输入不相同！</div>
                                </div>
                                <input type="button" name="next" id="account-submit" class="next action-button btn btn-primary" value="下一步"/>
                            </fieldset>
                            <fieldset class="text-start">
                                <h2 class="fs-title">餐厅信息</h2>
                                <div class="mb-3">
                                    <label for="exampleInputEmail1" class="form-label">餐厅类型</label>
                                    <select class="form-control" id="type" name="type">
                                        <option selected>点此选择</option>
                                        <option value="Dining">饭店/食堂<i class="fas fa-star" style="display: inline-block; margin-left: 151px;"></i></option>
                                        <option value="Fast Food">快餐</option>
                                        <option value="Cafe">饮品店</option>
                                    </select>
                                </div>
                                <div class="row mb-3">
                                    <div class="col-md-6">
                                        <label for="latitude" class="form-label">纬度</label>
                                        <input type="text" class="form-control" id="latitude">
                                    </div>
                                    <div class="col-md-6">
                                        <label for="longitude" class="form-label">经度</label>
                                        <input type="text" class="form-control" id="longitude">
                                    </div>
                                    <div class="col-md-6"><input type="button" id="coordinate" class="btn btn-primary mt-3 " value="点此一键获取坐标"/></div>
                                    
                                </div>
                                <div class="mb-3 form-check">
                                    <input type="checkbox" class="form-check-input" id="exampleCheck1">
                                    <label class="form-check-label" for="exampleCheck1">Check me out</label>
                                </div>
                                <input type="button" name="previous" class="previous action-button-previous btn btn-primary" value="上一步"/>
                                <input type="button" name="next" class="next action-button btn btn-primary" value="下一步"/>
                            </fieldset>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}